@import url("./global.css");

/* ----------------- HEADER ----------- */

header {
    display: flex; /* Para que os items do grupo fiquem lado a lado*/
    justify-content: space-between; /* Colocar nas Extremidades */
    align-items: center; /* Centraliza na vertical */
    padding: 30px; /* Espaçamento Interno */
    border-bottom: 0.7px solid var(--color-gray-3); /* Borda Inferior */
}

.container-nav-header {
    display: flex;
    align-items: center;
    gap: 70px; /* Espaçamento dentre elementos flex */
}

.navigation-header ul {
    display: flex;
    gap: 40px;
    list-style: none; /* Tira o Estilo padrão das listas */
}

.navigation-header ul li a {
    text-decoration: none; /* Estilização do Texto */
    color: var(--color-black);
    font-family: var(--font-family-primary);
}

.navigation-header ul li .menu-active {
   color: var(--color-blue); /* Altera a Cor da Fonte */
}

.btn-header {
    color: var(--color-white);
    text-decoration: none; /* Tira a decoração do Texto */
    font-family: var(--font-family-primary); /* Altera a fonte */
    font-weight: var(--font-weigth-button); /* Expessura da Fonte */
    background-color: var(--color-blue);
    padding: 10px 20px;
    border-radius: 10px;
}

/* ----------- MAIN ----------- */

main {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 50px;
    background-color: var(--color-blue-10);
    padding: 50px 0;
}

.main-content {
    display: flex; /* Para habilitar o gap */
    flex-direction: column; /* Deixar em Coluna */
    gap: 30px; /* Espaçamento dentre os elementos */
    width: 520px; /* Largura Total */
}

.main-content h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weigth-h1);
    font-family: var(--font-family-primary);
}

.main-content h1 span {
    color: var(--color-blue);
}

.main-content p {
    color: var(--color-gray);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weigth-body);
    font-size: var(--font-size-body);
    line-height: 30px;
}

.container-cta {
    display: flex;
    gap: 10px;
}

.btn-primary, .btn-secondary {
    padding: 8px 55px;
    border-radius: 10px;
    font-weight: var(--font-weigth-button);
    text-decoration: none;
    font-family: var(--font-family-primary);
}

.btn-primary {
    background-color: var(--color-blue);
    color: var(--color-white);
    transition: 0.3s;
}


.btn-primary:hover {
    background-color: #005e89;
}

.btn-secondary{
    background-color: var(--color-white);
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    transition: 0.3s;
}

.btn-secondary:hover {
    background-color: #e6e6e6;
}

/* Services */

.section-services {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
    gap: 25px;
    padding: 30px 0;
    border-bottom: 0.7px solid var(--color-gray-3);
}

.container-item-services {
    display: flex;
    align-items: center;
    gap: 15px;
}

.container-item-services h2 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weigth-h4);
    font-size: var(--font-size-h4);
}

.container-item-services p {
    font-family: var(--font-family-primary);
    color: var(--color-gray-2);
    font-size: var(--font-size-caption);
}
