@import url("./global.css");

/* ----------------- HEADER ----------- */
header {
    display: flex; /* Para que os items do grupo fiquem lado a lado*/
    justify-content: space-between; /* Colocar nas Extremidades */
    align-items: center; /* Centraliza na vertical */
    padding: 30px; /* Espaçamento Interno */
    border-bottom: 0.7px solid var(--color-gray-3); /* Borda Inferior */
}

.container-nav-header {
    display: flex;
    align-items: center;
    gap: 70px; /* Espaçamento dentre elementos flex */
}

.navigation-header ul {
    display: flex;
    gap: 40px;
    list-style: none; /* Tira o Estilo padrão das listas */
}

.navigation-header ul li a {
    text-decoration: none; /* Estilização do Texto */
    color: var(--color-black);
    font-family: var(--font-family-primary);
}

.navigation-header ul li .menu-active {
   color: var(--color-blue); /* Altera a Cor da Fonte */
}

.btn-header {
    color: var(--color-white);
    text-decoration: none; /* Tira a decoração do Texto */
    font-family: var(--font-family-primary); /* Altera a fonte */
    font-weight: var(--font-weigth-button); /* Expessura da Fonte */
    background-color: var(--color-blue);
    padding: 10px 20px;
    border-radius: 10px;
}

/* ----------- MAIN ---------- */
main {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 50px;
    background-color: var(--color-blue-10);
    padding: 50px 0;
}

.main-content {
    display: flex; /* Para habilitar o gap */
    flex-direction: column; /* Deixar em Coluna */
    gap: 30px; /* Espaçamento dentre os elementos */
    width: 520px; /* Largura Total */
}

.main-content h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weigth-h1);
    font-family: var(--font-family-primary);
}

.main-content h1 span {
    color: var(--color-blue);
}

.main-content p {
    color: var(--color-gray);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weigth-body);
    font-size: var(--font-size-body);
    line-height: 30px;
}

.container-cta {
    display: flex;
    gap: 10px;
}

.btn-primary, .btn-secondary {
    padding: 8px 55px;
    border-radius: 10px;
    font-weight: var(--font-weigth-button);
    text-decoration: none;
    font-family: var(--font-family-primary);
}

.btn-primary {
    background-color: var(--color-blue);
    color: var(--color-white);
    transition: 0.3s;
}


.btn-primary:hover {
    background-color: #005e89;
}

.btn-secondary{
    background-color: var(--color-white);
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    transition: 0.3s;
}

.btn-secondary:hover {
    background-color: #e6e6e6;
}

/* Services */
.section-services {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
    gap: 25px;
    padding: 30px 0;
    border-bottom: 0.7px solid var(--color-gray-3);
}

.container-item-services {
    display: flex;
    align-items: center;
    gap: 15px;
}

.container-item-services h2 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weigth-h4);
    font-size: var(--font-size-h4);
}

.container-item-services p {
    font-family: var(--font-family-primary);
    color: var(--color-gray-2);
    font-size: var(--font-size-caption);
}

/* Service Details */
.section-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    gap: 80px;
}

.details-presentation {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.details-presentation h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weigth-h2);
}

.details-presentation p {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
    color: var(--color-gray-2);
    width: 665px;
    margin: 0 auto;
}

.service-description {
    display: flex;
    align-items: center;
    gap: 60px;
}

.content-service {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.services-details {
    display: flex;
    align-items: center;
    gap: 25px;
}

.services-details div span{
    font-size: var(--font-size-h4);
    font-weight: var(--font-weigth-h4);
    font-family: var(--font-family-primary);
}

.services-details div p {
    font-size: var(--font-size-caption);
    font-weight: var(--font-weigth-caption);
    color: var(--color-gray-2);
    font-family: var(--font-family-primary);
}

.content-service h3 {
    font-size: var(--font-size-h3);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weigth-h3);
    width: 420px;
}

.content-service h3 span {
    color: var(--color-blue);
}

.content-service p {
    color: var(--color-gray);
    font-family: var(--font-family-primary);
    line-height: 27px;
    width: 445px;
}

/* Section-benefit */
.section-benefit {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding: 60px 48px;
    border-radius: 20px;
}

.card-benefit p {
    width: 458px;
}

.card-benefit-secondary {
    background-color: #F4F4F4;
}

.card-benefit h2 {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-h3);
    width: 365px;
    text-align: center;
}

.card-benefit p {
    font-family: var(--font-family-primary);
    color: var(--color-gray);
    text-align: center;
}

.btn-benefit {
    padding: 10px 35px;
    border-radius: 10px;
    background-color: var(--color-blue);
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-primary);
    font-weight: var(--font-weigth-button);
}

.card-benefit-primary {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.card-benefit-primary p {
    color: var(--color-white);
}

.btn-benefit-secondary {
    background-color: var(--color-white);
    padding: 10px 35px;
    border-radius: 10px;
    color: var(--color-blue);
    text-decoration: none;
    font-weight: var(--font-weigth-button);
    font-family: var(--font-family-primary);
}

/* Section Company */
.section-company {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 40px;
    padding: 80px 0;
}

.section-company h2 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weigth-h2);
    font-size: var(--font-size-h3);
}

.container-company {
    display: flex;
    gap: 80px;
}

/* Section Contact */
.section-contact {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    padding: 140px;
    background-color: var(--color-blue-10);
}

.section-contact h2 {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weigth-h2);
    text-align: center;
    width: 478px;
}

.section-contact form {
    display: flex;
    gap: 14px;
}

.section-contact form input {
    padding: 20px 35px;
    border-radius: 10px;
    width: 532px;
    font-family: var(--font-family-primary);
    box-shadow: 0 4px 84px 0 rgba(0, 0, 0, 0.07);
}

.section-contact form button {
    background-color: var(--color-black);
    padding: 20px 40px;
    border-radius: 10px;
    color: var(--color-white);
    font-family: var(--font-family-primary);
    text-transform: uppercase;
    font-weight: var(--font-weigth-button);
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    gap: 99px;
    padding: 60px 0;
}

.footer-informations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    font-family: var(--font-family-primary);
}

.footer-informations p {
    width: 268px;
    font-size: var(--font-size-caption);
    color: #515151;
}

.footer-informations ul {
    list-style: none;
}

.footer-informations ul li a, .footer-informations ul li{
    text-decoration: none;
    color: #515151;
    font-size: var(--font-size-caption);
}

.footer-informations h2 {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weigth-h4);
}

.footer-socials {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 12px;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    cursor: pointer;
}

.social-item:hover {
    background-color: var(--color-blue-10);
    transform: translateY(-10px);
}

